/AnalisadorSintaticoLogico/AnalisadorSintaticoLogico/bin
/AnalisadorSintaticoLogico/AnalisadorSintaticoLogico/obj
/AnalisadorSintaticoLogico/.vs/AnalisadorSintaticoLogico/v14/.suo
/AnalisadorSintaticoLogico/AnalisadorSintaticoLogico/publish
/AnalisadorSintaticoLogico/JALJ_MIA_ASLlib/obj
/AnalisadorSintaticoLogico/JALJ_MIA_ASLlib/bin
/AnalisadorSintaticoLogico/JALJ_MIA_ASLgui/obj
/AnalisadorSintaticoLogico/JALJ_MIA_ASLgui/bin
